---
layout: default
---

<div class="container" data-spy="scroll" data-target="#page-nav" data-offset="0">
    <div class="row">
        <div class="col-md-4">

        {% if page.subnav %}
              <div class="list-group" id="page-nav">
                {% for link in page.subnav %}
                  <a class="list-group-item list-group-item-action" 
                     href="{{ link.href }}">
                     {{ link.text }}
                  </a>
                {% endfor %}
              </div>
        {% endif %}
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
            <p class="text-center">
              <br />
              <a target="_blank" href="{{site.git_edit_address}}/{{ page.path }}" class="btn btn-default githubEditButton" role="button">
                <i class="fa fa-pencil fa-lg"></i> Improve this page
              </a>
            </p>
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>